

//ALBUMS
// -------------------------------------------------

.albums {


  .albums--wrap {
    max-height: 390px;
    overflow-y: auto;
    width: calc(100% + 20px);
  }

  .albums--grid {
    width: calc(100% - 10px);
    padding-left: $spacing;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .albums--grid:after {
  //   content: "";
  //   flex: auto;
  // }

  a:hover {
    text-decoration: underline;
  }
  .albums--title {
    @extend .title;
    margin: ($spacing * 2) 0 ($spacing-bottom * 2);

    &:nth-child(1) { // First title
      margin-top: $spacing * 5;
      padding-bottom: $spacing * 2;
      border-bottom: $border-light;
      color: $color-text-bright;
    }

    &:nth-child(2) { // Second title
      padding-left: $spacing;
      color: $color-contrast;
      text-transform: uppercase;
    }
  }

  .album--container {
    float: left;
    overflow: hidden;
    width: $cover-size;
    margin-bottom: $spacing * 2;

    img {
      width: $cover-size;
      vertical-align: bottom;
    }

    // Four invisible placeholders are added to the end
    // of the grid to keep "justify-content: space-between" happy
    &.placeholder {
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      border-top-width: 0;
      border-bottom-width: 0;
    }
  }

  .album--title {
    height: 32px;
    margin-top: $spacing;
    overflow: hidden;
    font-size: $font-size-s;
    text-align: center;
  }


  // SCROLLBAR

  .albums--wrap::-webkit-scrollbar {
    width: auto;
    max-width: 10px;
    max-height: 10px;
  }

  .albums--wrap::-webkit-scrollbar-track {
    background: $color-text-regular;
    border-radius: $rounded-corners;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .albums--wrap::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: $rounded-corners;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

}

