
/**
 * SEARCH RESULT - ARTISTS
 * =========================================
 */

.searchResult {

  position: absolute;
  z-index: 1;

  .artists {

    @media (min-width: $breakpoint) {
      width: calc(100vw - 257px);
      max-width: 640px;
    }

    padding: $spacing*2 $spacing;
    background: $color-background-lighter;
    font-size: $font-size-s;
    z-index: 10;

    .title {
      margin-bottom: $spacing-bottom;
      color: $color-text-regular;
    }

    a {
      display: block;
      padding: $spacing;
      margin: 0 $spacing-l;
      border-bottom: $border-dark;
      color: $color-text-regular;

      &:last-child{
        border-bottom: none;
      }
    }
  }

  .arrow {
    width: 12px;
    height: 8px;
    margin: 4px 0 0 48px;
    background: no-repeat url("data:image/svg+xml;utf8,
      <svg xmlns='http://www.w3.org/2000/svg' height='8' width='12'>
        <path d='M0,12 L6,0 L12,12' style='fill:#{$color-background-lighter}'/>
      </svg>")
  }
}
