

// TRACKS
// -------------------------------------------------

.tracks {

  position: relative; // To place the cover image absolutely
  margin-top: 3 * $spacing;
  background: $color-background-lighter;

  img {
    position: absolute;
    top: -150px;
    left: $spacing;
    width: $cover-size;
    transition: top 0.2s
  }

  h3 {
    font-size: $font-size-l;
    margin: 0;
  }

  .tracks--title {
    @extend .title;
    padding: 0 0 $spacing*2 $spacing;
  }

  table {
    width: 100%;
    margin-top: 170px;
    border-bottom: ($spacing * 3) solid $color-background-lighter;
    color: $color-text-bright;
    font-size: $font-size-s;
    transition: margin-top 0.2s;

    thead {
      background: $color-background;
      td {
        border: none;
      }
    }

    tbody {
      background: $color-background-lighter;
      min-height: 1px // Fixes heigt issue with < 3 tracks.
    }

    td {
      padding: $spacing $spacing*2 $spacing $spacing;
      border-bottom: $border-dark;

      &:nth-child(1) {  // Empty first column
        width: 1px;
        border-bottom: none;
        @media (min-width: $breakpoint) {
          width: $cover-size + $spacing*2;
        }
      }

      &:nth-child(2) {  // Track #
        padding-left: $spacing;
        border-bottom: none;
        @media (min-width: $breakpoint) {
          width: 50px;
        }
      }

      &:nth-child(3) { // Title
        width: 26%;
      }

      &:nth-child(4) {  // Artist
        width: 18%;
      }

      @media (min-width: $breakpoint) {
        &:nth-child(5) {   // Duration
          width: 10%;
          padding: $spacing $spacing*2 $spacing-bottom $spacing*2;
        }
        &:nth-child(6) {  // Release
          width: 20%;
          text-align: center;
        }
      }
    }
  }

  // Cover image is positioned above track listing on small devices.
  // On larger devices cover image is positioned to the left
  @media (min-width: $breakpoint) {
    img {
      top: $spacing;
    }
    table {
      margin-top: 0;
    }
  }
}
